/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 폰트설정 */
body { font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", sans-serif; font-weight: 300; font-size: 16px; line-height: 1; letter-spacing: -0.06px; color: #555; } 

/* 초기화 */
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,p,form,fieldset,button { margin: 0; padding: 0; } 

ul,ol,li { list-style: none; } 

a { text-decoration: none; color: #555; } 

button {cursor: pointer; } 

strong{font-weight: 300;}

address{font-style: normal;}

/* ==============================================
데스크탑을 위한 코드
=================================================*/
/* 공통 */

.container { width: 1170px; margin: 0 auto; position: relative; z-index: 20; } 

.container::after { content: ""; display: block; clear: both;} 

/* 메인콘텐츠공통 */
.mainCon { padding: 120px 0; } 
.mainCon .inner { width: 1170px; margin: 0 auto; } 
.mainCon .mainTit { font-size: 40px; color: #000; text-align: center; position: relative;top: 150px;opacity: 0;} 
.mainCon .mainTit br { display: none; } 
.mainCon .mainTxt { font-size: 18px; margin-top: 30px; text-align: center; position: relative;top: 150px;opacity: 0;} 



/* 유틸영역 */
#util { } 
#util .right { float: right; } 
#util .right .links { float: left; } 
#util .right .links a { display: inline-block; padding-left: 9px; margin-left: 8px; font-size: 15px; line-height: 26px; color: #000; position: relative; } 
#util .right .links a::before { content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 13px; margin-top: -6.5px; background: #e1e1e1; } 
#util .right .links a:first-child::before { display: none; } 
#util .right .login { float: left; margin-left: 30px; } 
#util .right .login a { display: inline-block; font-size: 15px; line-height: 26px; color: #555; } 

/* 헤더영역 */
#header { position: relative; z-index: 100; top: 0;width: 100vw;background-color: white;} 
#header.fixed{position: fixed;}
#header .gnbBg { position: absolute; left: 0; top: 74px; width: 100%; height: 325px; z-index: 10; background-color: #fff;display: none;border-top: 2px solid #1c7c57;display: none; transition: all .3s ease-in;} 
#header h1 { float: left; position: relative; left: 0; top: -22px; } 
#header.fixed h1 {top: 0px;transition: all 0.3s; }
#header .gnbArea { float: left; margin-left: 127px;} 
#header .openBt { display: none; } 
#header .gnb>li { float: left; padding: 0 20px; position: relative;} 
#header .gnb>li>a { display: block; margin-top: 3px;padding: 15px 20px 38px; position: relative; font-size: 18px; font-weight: 500; color: #000;transition: all 0.3s; } 
#header.fixed .gnb>li>a {padding: 28px 20px;color: #000;}
#header .gnb>li.on>a::after { content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 20px; height: 12px; background: url(../images/gnb_on_icon.png) no-repeat; } 
#header .gnb>li .twoD {position: absolute; top: 71px; width: 100%; padding: 35px 0 35px 20px; display: none; } 
#header .gnb>li .twoD a { display: block; padding: 15px 0; font-size: 18px;position: relative;color: #000;font-weight: 400;} 
#header .gnb>li .twoD .thrBt::after{content: '';position: absolute;left: 84px;top: 50%;transform: translateY(-50%);width: 20px;height: 20px;background: url(../images/thrBt_bg.png)no-repeat center;}
#header .gnb>li .twoD .thrBt.on::after{background: url(../images/thrBt_bg_on.png)no-repeat center;}
#header .gnb>li .twoD .thrD{display: none;}
#header .gnb>li .twoD .thrD a { padding: 0 0 10px 10px; font-size: 16px; line-height: 24px; color: #888;color: #000;color: #000;font-weight: 400;} 

#header .gnb li:hover>a{color: #1c7c57;font-weight: 500;}

/* 헤더영역 - 운영시간 */
#header .gnbArea .leftArea { position: absolute; left: 0; top: 71px; width: 225px; padding: 50px 0 85px; display: none;} 
#header .gnbArea .leftArea .tit { padding-top: 70px; font-size: 18px; font-weight: 500; background: url(../images/gnb_time_icon.png) no-repeat; } 
#header .gnbArea .leftArea dl { margin-top: 30px; } 
#header .gnbArea .leftArea dl dt { font-size: 18px; } 
#header .gnbArea .leftArea dl dd { font-size: 22px; line-height: 36px; font-weight: 700; } 
.mHeader { display: none; } 
.mMenuArea { display: none; } 

/* 스와이퍼슬라이드 */
#mainSlide .swiper-wrapper .swiper-slide img { width: 100%; } 

/* 운영시간영역 */
.mainTodayArea { text-align: center; padding: 25px 0; } 
.mainTodayArea .mTit { display: inline-block; padding-left: 50px; margin-right: 30px; font-size: 18px; line-height: 31px; font-weight: 700; color: #000; background: url(../images/time_icon.png) no-repeat 0 50%; } 
.mainTodayArea .timeArea { display: inline-block; } 
.mainTodayArea .time { display: inline-block; color: #000; } 
.mainTodayArea .time:last-child { margin-left: 20px; padding-left: 20px; position: relative; } 
.mainTodayArea .time:last-child::before { content: ""; position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 1px; height: 19px; background: #dedede; } 
.mainTodayArea .time .tit {float: left; } 
.mainTodayArea .time .txt {float: left; margin-left: 20px; font-weight: 700; } 


/* 메인콘텐츠1-전시 */
.mainCon1 { background: url(../images/mainCon1_bg.jpg) no-repeat 50% 50%; background-size: cover;position: relative;} 
.mainCon1 .mainCon1Bg{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.mainCon1 .mainCon1Bg .t1{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: url(../images/mainCon1Bg_t1_img.jpg)no-repeat center / cover;}
.mainCon1 .mainCon1Bg .t2{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: url(../images/mainCon1Bg_t2_img.jpg)no-repeat center / cover;}
.mainCon1 .mainTit ,
.mainCon1 .mainTxt { color: #fff; } 
.mainCon1List { margin-top: 60px; position: relative;top: 150px;opacity: 0;} 
.mainCon1List::after { content: ""; display: block; clear: both; } 
.mainCon1List li { float: left; width: 574px; margin-left: 22px; } 
.mainCon1List li:first-child { margin-left: 0; } 
.mainCon1List li a { display: block; width: 100%; position: relative; } 
.mainCon1List li a:hover::after { content: ""; position: absolute; left: 0; top: 0; width: calc(100% - 2px); height: calc(100% - 2px); border: 2px solid #fff; } 
.mainCon1List li a .imgArea { width: 100%; } 
.mainCon1List li a .imgArea img { width: 100%; } 
.mainCon1List li a .txtArea { padding: 30px 0; text-align: center; } 
.mainCon1List li a .txtArea p { font-size: 22px; font-weight: 700; color: #fff; } 


/* 메인콘텐츠2-프로그램 */
.mainCon2 { background: url(../images/mainCon2_bg.jpg) no-repeat 50% 50%; background-size: cover; } 
.mainCon2List { margin-top: 60px; position: relative;top: 150px;opacity: 0;} 
.mainCon2List::after { content: ""; display: block; clear: both; } 
.mainCon2List li { float: left; width: 375px; margin-left: 22px; } 
.mainCon2List li:first-child { margin-left: 0; } 
.mainCon2List li a { display: block; transition: box-shadow 0.3s ease; } 
.mainCon2List li a:hover { box-shadow: 20px 25px 40px 0 rgba(0,0,0,0.2); } 
.mainCon2List li a .imgArea { } 
.mainCon2List li a .imgArea img { width: 100%; vertical-align: middle; } 
.mainCon2List li a .imgArea img.mobile{display: none;} 
.mainCon2List li a .txtArea { padding: 25px 25px 30px; background: #fff; } 
.mainCon2List li a .txtArea p { font-size: 22px; font-weight: 700; color: #000; text-align: center; } 

/* 메인콘텐츠3-소식 */
.mainCon3 .mainNews{margin-top: 60px;position: relative;top: 150px;opacity: 0;}
.mainCon3 .mainNews::after{content: "";display: block;clear: both;}

.mainCon3 .mainNews .left{position: relative;float: left;width: 492px;padding: 40px;border: 1px solid #d9d9d9;}
.mainCon3 .mainNews .left .tit{font-size: 22px;font-weight: 700;color: #000;}
.mainCon3 .mainNews .left .newsCon{margin-top: 30px;}
.mainCon3 .mainNews .left .newsCon a{color: #000;}
.mainCon3 .mainNews .left .newsCon a .tit{font-size: 20px;font-weight: 400;color: #000;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}
.mainCon3 .mainNews .left .newsCon a .date{margin-top: 72px;color: #888;}
.mainCon3 .mainNews .left .newsList{margin-top: 27px;padding-top: 27px;border-top: 1px solid #d9d9d9;}
.mainCon3 .mainNews .left .newsList li{line-height: 28px;}
.mainCon3 .mainNews .left .newsList li a{display: inline-block;width: calc(100% - 80px);font-size: 18px;color: #000;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.mainCon3 .mainNews .left .newsList li a:hover{text-decoration: underline;}
.mainCon3 .mainNews .left .newsList li .date{float: right;font-size: 16px;color: #555;}
.mainCon3 .mainNews .left .newsMoreBt{position: absolute;top: 40px;right: 40px;padding-right: 30px;font-size: 15px;line-height: 20px;background: url(../images/newsMoreBt_icon.png)no-repeat right center;}

.mainCon3 .mainNews .right{float: right;width: 574px;}
.mainCon3 .mainNews .right .utilDiv::after{content: '';display: block;clear: both;}
.mainCon3 .mainNews .right .utilDiv a{display: block;float: left;width: 276px;height: 188px;padding: 128px 40px 40px 40px; box-sizing: border-box;;border: 1px solid #d9d9d9;font-size: 16px;color: #000;font-weight: 700;text-align: center;}
.mainCon3 .mainNews .right .utilDiv a:first-child{margin-right: 22px;background: url(../images/mainCon3_util1_img1.png)no-repeat center 40px;}
.mainCon3 .mainNews .right .utilDiv a:last-child{background: url(../images/mainCon3_util1_img2.png)no-repeat center 40px;}
.mainCon3 .mainNews .right .bannerDiv{padding: 40px;margin-top: 22px;;background: url(../images/mainCon3_banner.jpg) no-repeat 50% 50%;}
.mainCon3 .mainNews .right .bannerDiv .tit{font-size: 32px;line-height: 38px;color: #fff;}
.mainCon3 .mainNews .right .bannerDiv a{display: block;padding-right: 40px;margin-top: 20px;font-weight: 700;color: #fff;background: url(../images/mainCon3_banner_icon.png) no-repeat center;}

/* 푸터영역 */
#footer{border-top: 1px solid #d9d9d9;}
#footer .container{padding: 50px 0 130px;}
#footer .top{overflow: hidden;text-align: center;padding-bottom: 30px;border-bottom: 1px solid #e0e0e0;}
#footer .top .links{display: inline-block;float: left;}
#footer .top .links a{float: left;margin-left: 20px;font-size: 16px;line-height: 30px;color: #333;}
#footer .top .links a:first-child{margin-left: 0;}
#footer .top .links a strong{color: #e10000;}

#footer .bottom{margin-top: 30px;overflow: hidden;}
#footer .bottom .left{float: left;}
#footer .bottom .left address{}
#footer .bottom .left address p{font-size: 15px;margin-top: 10px;}
#footer .bottom .left address p span{display: inline-block;margin-left: 11px;padding-left: 11px;position: relative;}
#footer .bottom .left address p span::before{content: '';;position: absolute;left: 0;top: 50%;transform: translateY(-50%);width: 1px;height: 13px;background-color: #e0e0e0;}
#footer .bottom .left address p span:first-child{margin: 0;padding: 0;}
#footer .bottom .left address p span:first-child::before{display: none;}
#footer .bottom .left address p.copyright{margin-top: 30px;font-size: 13px;color: #777;}
#footer .bottom .familySite{float: right;}
#footer .bottom .familySite #selectFamilySite{width: 210px;padding-left: 20px;height: 45px;background: url(../images/sel_icon.png)no-repeat right 17px top 50%; appearance: none; -webkit-appearance: none;-moz-appearance: none;}

.topBtn{position: fixed;bottom: 370px;right: 40px;z-index: 10;display: none;border: none;background: transparent;}



/* ==============================================
작은노트북, 태블릿,큰 해상도 스마트폰을 위한 코드
=================================================*/

/* 1001~1200까지 */
/* 미디어장치가 화면(스크린) 이고(그리고) 최대너비:1200일 때 실행 
 if(조건이 참이면) { 실행문 } 
*/
@media screen and (max-width : 1200px) { /* 공통 */
 .container { width: 950px;} 
 .mainCon .inner { width: 950px; } 
 #header .gnbArea { margin-left: 120px; } 
 #header .gnb>li { padding: 0 15px; } 
 #header .gnb>li>a { padding: 20px 20px 36px; font-size: 16px; } 
 #header .gnb>li .twoD a { font-size: 16px; } 
 #header .gnb>li .twoD .thrD a { font-size: 14px; line-height: 28px; } 

 .mainCon1List li { width: 464px; } 
 .mainCon2List li { width: 302px; } 

.mainCon3 .mainNews .left{width: 384px;}
.mainCon3 .mainNews .left .newsCon a .date{font-size: 14px;}
.mainCon3 .mainNews .left .newsList li{line-height: 28px;}
.mainCon3 .mainNews .left .newsList li a{font-size: 14px;}
.mainCon3 .mainNews .left .newsList li .date{font-size: 14px;}
.mainCon3 .mainNews .right{width: 462px;}
.mainCon3 .mainNews .right .utilDiv a{width: 220px;}
.mainCon3 .mainNews .right .utilDiv .tit{font-size: 28px;line-height: 34px;}


}

/* 759~1000까지 */
@media screen and (max-width : 1000px) { /* 759공통 */
 .container { width: auto; padding: 0 5%;} 
 .mainCon { padding: 100px 0; } 
 .mainCon .inner { width: auto; padding: 0 5%; } 
 .mainCon .mainTit { font-size: 30px; line-height: 35px;} 

 #util { display: none; } 
 #header { display: none; } 
 .mHeader { display: block; background: white; height: 101px; position: relative; } 
 .mHeader .openBt { position: absolute; left: 30px; top: 50%; transform: translateY(-50%); background: transparent; border: 0; } 
 .mHeader .logo { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); } 
 
 /* 모바일상단 759~1000 */
 .mMenuArea { display: block; position: fixed; left: -100%; top: 0; width: 100%; height: 100vh; z-index: 9999;background-color: white;} 
 .mMenuArea .top { background: #1c7c57; height: 100px; position: relative; } 
 .mMenuArea .top .loginBt { position: absolute; left: 30px; top: 50%; transform: translateY(-50%);height: 38px;; padding-left: 50px; font-size: 26px; line-height: 36px; font-weight: 400; color: #fff; background: url(../images/m_login_icon.png) no-repeat 0 0; } 
 .mMenuArea .top .closeBt { position: absolute; right: 30px; top: 50%; transform: translateY(-50%); border: 0; background: transparent; } 

 /* 모바일링크 759~1000*/
 .mMenuArea .links { overflow: hidden; } 
 .mMenuArea .links a { float: left; width: 50%; height: 100px; text-indent: -9999px;box-sizing: border-box;border-bottom: 1px solid #e1e1e1; } 
 .mMenuArea .links a+a{border-left: 1px solid #e1e1e1;}
 .mMenuArea .links .lotteworld { border-left: 0; background: #F8F8F8 url(../images/m_lotteworld_btn.gif) no-repeat center; } 
 .mMenuArea .links .icerink { background:#F8F8F8 url(../images/m_icerink_btn.gif) no-repeat center; } 

 /* 모바일메뉴 759~1000*/
 .mMenuArea .oneD { display: block; padding: 30px 38px; font-size: 26px; background: url(../images/m_oneD_icon.png) no-repeat right 5% top 50%; border-bottom: 1px solid #e1e1e1;color: #000; } 
 .mMenuArea .oneD.on{background-color: #f2f2f2;color: #1c7c57;font-weight: 700;}
 .mMenuArea .twoD { padding: 0 30px; display: none; border-bottom: 1px solid #e1e1e1;background-color: #f2f2f2;} 
 .mMenuArea .twoD>a { display: block; padding: 20px; font-size: 22px;border-bottom: 1px solid #e1e1e1;background-color: #f2f2f2;color: #000;} 
 .mMenuArea .twoD .thrBt { background: url(../images/thrBt.png) no-repeat 95% 50%/30px; } 
 .mMenuArea .twoD .thrBt.on{background: url(../images/thrBt_on.png) no-repeat 95% 50%/ 30px;font-weight: 500;}
 .mMenuArea .twoD .thrD { padding: 15px 40px; display: none;border-bottom: 1px solid #e1e1e1;background-color: #f2f2f2; } 
 .mMenuArea .twoD .thrD a { display: block; padding: 15px 0; font-size: 18px;} 
 .mainCon1List li { width: 49%; margin-left:2%;color: #000; } 

 /* 메인콘텐츠 759~1000*/
 .mainCon2List li { width: 32%; margin-left:2%; } 
 .mainCon2List li a .imgArea img.pc{display: none;} 
 .mainCon2List li a .imgArea img.mobile{display: block;} 
 .mainCon2List li a .txtArea p { font-size: 20px; } 

.mainCon3 .mainNews .left{position: relative;float: none;width: 100%;box-sizing: border-box;}
.mainCon3 .mainNews .left .newsList{padding-top: 15px;}
.mainCon3 .mainNews .left .newsList li{line-height: 24px;}
.mainCon3 .mainNews .left .newsList li a{width: calc(100% - 70px);}
.mainCon3 .mainNews .left .newsMoreBt{top: 30px;right: 5%;}

.mainCon3 .mainNews .right{float: none;width: 100%;margin-top: 20px;}
.mainCon3 .mainNews .right .utilDiv::after{content: '';display: block;clear: both;}
.mainCon3 .mainNews .right .utilDiv a{width: 48.5%; padding: 110px 3% 20px;height: 165px;}
.mainCon3 .mainNews .right .utilDiv a:first-child{margin-right: 3%;background-size: 40px auto;}
.mainCon3 .mainNews .right .utilDiv a:last-child{background-size: 40px auto;}

.mainCon3 .mainNews .right .bannerDiv{margin-top: 20px;background-size: cover;}
.mainCon3 .mainNews .right .bannerDiv .tit{font-size: 32px;line-height: 38px;color: #fff;}
.mainCon3 .mainNews .right .bannerDiv a{display: block;padding-right: 40px;margin-top: 20px;font-weight: 700;color: #fff;background: url(../images/mainCon3_banner_icon.png) no-repeat 50% center;}

 /* 푸터영역 759~1000*/
 #footer .top{border-bottom: 0px;padding-bottom: 0;}
 #footer .bottom{position: relative;padding-top: 65px;}
#footer .bottom .left{float: none;}
#footer .bottom .familySite{float: none;position: absolute;top: 0;left: 0;width: 100%;}
#footer .bottom .familySite #selectFamilySite{width: 100%;}



}

/* 451~758까지 */
@media screen and (max-width : 758px) { /* 451공통 */
 .mHeader {height: 50px;}
 .mHeader .openBt img {width: 25px;}
 .mHeader .logo img {width: 57px;margin-top: 5px;}
 .mainCon { padding: 60px 0 50px; } 
 .mainCon .mainTit { font-size: 23px; line-height: 30px; } 
 .mainCon .mainTit br { display: block; } 
 .mainCon .mainTxt { display: none; } 

 .mMenuArea .top .loginBt { left: 3%; padding-left: 25px; font-size: 14px; height: 20px;line-height: 18px; background-size: 15px auto; } 
 .mMenuArea .top { height: 50px; } 
 .mMenuArea .top .closeBt { right: 3%; } 
 .mMenuArea .top .closeBt img { width: 15px; } 
 .mMenuArea .links a { height: 60px; } 
 .mMenuArea .links .lotteworld { background-size: 132px auto; } 
 .mMenuArea .links .icerink { background-size: 80px auto; } 
 .mMenuArea .gnbArea .oneD { padding: 20px 15px; font-size: 17px; background-size: 15px auto; } 
 .mMenuArea .gnbArea .twoD { padding: 0 15px; } 
 .mMenuArea .gnbArea .twoD>a { padding: 13px 15px; font-size: 16px; } 
 .mMenuArea .gnbArea .twoD .thrD { padding: 10px 20px; } 
 .mMenuArea .gnbArea .twoD .thrD a { padding: 10px 0; font-size: 15px; } 
 .swiper-button-prev, .swiper-button-next{display: none;}
 .mainTodayArea .mTit { padding-left: 20px; margin-right: 20px; font-size: 13px; background-size: 15px auto; } 
 .mainTodayArea .time:last-child { margin-left: 10px; padding-left: 10px; } 
 .mainTodayArea .time .tit { font-size: 13px; } 
 .mainTodayArea .time .txt { font-size: 13px; margin-left: 10px; } 

 .mainCon1List { margin-top: 25px; } 
 .mainCon1List li { float: none; width: 100%; margin-left: 0; margin-top: 15px; } 
 .mainCon1List li:first-child { margin-top: 0; } 
 .mainCon1List li a .txtArea { padding: 15px 0; } 
 .mainCon1List li a .txtArea p { font-size: 14px; } 

 .mainCon2List { margin-top: 25px; } 
 .mainCon2List li { width: 48.5%; margin-left:3%; } 
 .mainCon2List li:nth-child(3) { clear: both; float: none; padding-top: 10px; margin: 0 auto; } 
 .mainCon2List li a .txtArea { padding: 15px 5%; } 
 .mainCon2List li a .txtArea p { font-size: 14px; } 
 
 .mainCon3 .mainNews{margin: 25px 0 0;}
 .mainCon3 .mainNews .left{padding: 20px 4%;box-sizing: border-box;}
 .mainCon3 .mainNews .left .tit{font-size: 14px;line-height: 20px;}
.mainCon3 .mainNews .left .newsCon{margin-top: 15px;}
.mainCon3 .mainNews .left .newsCon a .tit{font-size: 13px;line-height: 1.3;}
.mainCon3 .mainNews .left .newsCon a .date{font-size: 12px;;margin-top: 5px;}
.mainCon3 .mainNews .left .newsList{margin-top: 15px;padding-top: 10px;}
.mainCon3 .mainNews .left .newsList li{line-height: 22px;}
.mainCon3 .mainNews .left .newsList li a{width: calc(100% - 60px);font-size: 13px;}
.mainCon3 .mainNews .left .newsList li .date{font-size: 12px;}

#footer .container{padding:25px 3% 45px;}
#footer .bottom{margin-top: 15px;padding-top: 55px;}
#footer .bottom .left{margin-right: 0;}
#footer .bottom .familySite #selectFamilySite{padding-left: 17px;height: 40px;font-size: 15px;}
}

/* ==============================================
해상도가 낮은 모바일을 위한 코드
=================================================*/
/* 450이하 */
@media screen and (max-width : 450px){
 .mainTodayArea { padding: 10px 0; } 
 .mainTodayArea .mTit { padding:0 0 0 20px; background-position: 0 8px; display: inline-block; } 
 
 .mainTodayArea .timeArea { display: inline-block; vertical-align: middle; } 

 .mainTodayArea .time { display: block; width: 180px; padding-bottom: 10px; margin-bottom: 10px; overflow: hidden; color: #000; } 
 .mainTodayArea .time:last-child { padding: 0; margin: 0; border: 0; } 
 .mainTodayArea .time:last-child::before { display: none; } 
 .mainTodayArea .time .tit { width: 40%; text-align: left;line-height: 31px; } 
 .mainTodayArea .time .txt { width: 60%; margin-left: 0; text-align: left;line-height: 31px; } 

 #footer .top .links a{margin-left: 0;margin-right: 10px;font-size: 14px;line-height: 26px;}
 #footer .bottom .left address p{font-size: 13px;line-height: 22px;margin-top: 0;}
 #footer .bottom .left address p span{margin-left: 6px;padding-left: 6px;}
 #footer .bottom .left address p.copyright{margin-top: 15px;}
 }